          {
            "type": "command",
            "if": "Write({{CODE_ROOT}}/**)",
            "command": "MEMCONTINUUM_CODE_ROOT={{CODE_ROOT_CMD}} MEMCONTINUUM_PYTHON={{PYTHON}} {{HOOKS_DIR}}/newfile-nudge.sh"
          }